*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255 255 255);
}

/* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES */

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px #0000000d;
    background-color: white;
    z-index: 1;
  }

.container{
    max-width: 1280px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.header__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__content-mobile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header__top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header__left-part{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo{
    padding: 4px 0 0 0;
    width: 136px
}
.logo-mob{
    padding: 17px 0 0 0;
}
.search-form {
    max-width: 955px;
    width: 100%;
    height: 40px;
    padding: 0px 60px 0 60px;
}

.search-form__input{
    width: 100%;
    height: 100%;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    background-image: url(assets/searchIcon.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
    padding: 0 0 0 38px;
    font-size: 14px;
}

.search-form__input::placeholder{
    color: #BBC4D6;
}


.profile{
    width: 169px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-left: solid 1px #EBEBF1;
}

.profile__text{
    font-size: 14px;
    color: #768298;
    padding: 1px 11px 0 19px;
}

.profile__link{
    padding: 3px 0 0 0;
}

/* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES *//* HEADER STYLES */


/* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES */
.partners{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.partners__content{
    width: 100%;
    height: 200px;
    padding: 77px 0 0 0;
}

.partners__title{
    font-weight: 500;
    font-size: 36px;
    color: black;
    padding: 0 0 30px 0;
}

.partners__collection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 8px 0 0 0;
}

.partners__collection :nth-child(4n){
    margin: 0 0 30px 0;
}

.partners__item{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 30px 0;
    width: 287px;
    padding: 28px 27px;
    border: solid 1px #EBEBF1;
    border-radius: 5px;
    cursor: url('assets/cursor.svg'), auto;
}

.partners__item:hover{
    background-color: white;
    box-shadow: 0px 1px 24px #0000000d;;
    z-index: 1;
}
.partners__item-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 234px;
}

.partners__item-image{
    width: 100%;
    object-fit: scale-down;
    max-height: 65px;
}
/* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES *//* PARTNERS STYLES */





/* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES */

.header__content-mobile{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}
.header__top{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBF1;
    padding: 0 20px;
}

.logo-mob{
    padding: 17px 0 0 1px;
}

.profile-mob{
    padding: 22px 0 0 0;
}
.search-form-mobile{
    width: 100%;
    height: 42px;
    padding: 0 20px;
}
.search-form-mobile__input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-image: url("assets/searchIcon.svg");
    background-repeat: no-repeat;
    background-position: 3px center;
    padding: 0 0 0 29px;
    font-size: 14px;
}
.search-form-mobile__input::placeholder{
    color: #BBC4D6;
}
.search-form-mobile__input:focus{
    outline: none;
}
/* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES */





/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */
@media screen and (max-width : 1279px) {
    .search-form {
        padding: 0px 50px 0 49px;
    }
    .partners__title{
        font-size: 28px;
        line-height: 31px;
    }
    .partners__collection :nth-child(4n){
        margin: 0 20px 20px 0;
    }
    .partners__collection :nth-child(3n){
        margin: 0 0 20px 0;
    }
    .partners__item{
        width: calc(33.33% - 14px);
        min-width: 229px;
        margin: 0 20px 20px 0;
        padding: 15px;
    }
    
    .partners__item-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .partners__item-image {
        width: calc(100% - 45px);
        max-height: 68px;
        object-fit: unset;
    }
}

@media screen and (max-width : 767px) {

    .header{
        height: 105px;
      }
    .container{
        padding: 0;
    }
    .header__content{
        display: none;
    }
    .header__content-mobile{
        display: flex;
    }
    .partners__title{
        padding: 0 0 30px 20px;
    }
    .partners__collection{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: auto;
    }
    .partners__item{
        height: 140px;
        margin: 0 20px 20px 20px;
        min-width: 288px;
        width: -webkit-fill-available;
    }
    .partners__collection :nth-child(4n){
        margin: 0 20px 20px 20px;
    }
    .partners__collection :nth-child(3n){
        margin: 0 20px 20px 20px;
    }
    .partners__item-image {
        width: 100%;
        max-height: 78px;
        object-fit: fill;
    }
}

/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */
